@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #6E00EE;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #8CD6F9;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #6E00FF;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #FF64EB;
}

.scroll {
  margin-top: 2em;
  width: 30px;
}

section {
  padding: 4em 0em 4em 2em;
}

section div {
  padding-right: 2em;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #FFC9F8;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6E00EE;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: #3B3B3B;
  margin-bottom: 3em;
  font-size: .85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #6E00FF;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 50px;
}

.skills-container ul li .icon-container.two {
  width: 140px;
}

.skills-container ul li .icon-container.three {
  width: 90px;
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.About {
  background: #6E00FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5em;
}

.About .DP {
  border-radius: 50%;
  height: 15em;
  width: 15em;
}

.About .subtitle {
  color: #8CD6F9;
  font-size: 2em;
  letter-spacing: 1em;
}

.About .About-desc {
  color: #ffffff;
}

.About .About_social {
  width: 20vw;
}

.About .About_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.About .About_social ul img {
  height: 35px;
}

@media only screen and (min-width: 800px) {
  .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 0em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -8em;
    padding-top: 8em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (31.33%)[3];
        grid-template-columns: repeat(3, 31.33%);
    grid-gap: 1em;
    margin-bottom: -7em;
  }
  .About {
    padding-left: 3em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .About div {
    padding-left: 2em;
  }
  .About .About-desc {
    width: 45vw;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #6E00EE;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em 0em 4em 4e m;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #6E00FF;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 5%;
    width: 100%;
  }
  .About {
    padding-left: 15em;
  }
  .About .About-desc {
    width: 35vw;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 0em 4em 10em;
  }
  section div {
    padding-right: 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
  .About {
    padding-left: 20em;
  }
  .About .About-desc {
    width: 35vw;
  }
  .About .About_social ul img {
    padding-top: 1em;
    width: 100px;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 20em 0em 4em 10em;
  }
  section div {
    padding-right: 20em;
  }
  .hero .content {
    padding: 6em 8em 6em 20em;
  }
  .About {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .About .About_social ul {
    padding-left: -2;
  }
  .About .About_social ul img {
    width: 100px;
  }
}
/*# sourceMappingURL=main.css.map */