@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #f5f5f5;
}

.hamburger-container {
  background-color: #6e00ee;
}

#ham-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #e0e0e0f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.5em;
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100000;
  padding-top: 2.5em;
}

#ham_opener {
  cursor: pointer;
  padding: 1em 0em 0em 2em;
  height: 60px;
}

#ham_opener img {
  height: 40px;
  width: auto;
}

#ham_opener .logo_mobile {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -2em;
  margin-left: -1.2em;
  font-size: 1.3em;
  font-weight: 800;
  font-style: bold;
  color: #8cd6f9;
}

.socialmedia-menuitems {
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-auto-flow: column;
}

.socialmedia-menuitems img {
  padding: 15px;
  height: 40px;
  width: 40px;
}

.hovereffitemsmenu:hover {
  background-color: #6e00ee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #6e00ee;
}

.nav-container a {
  color: white;
}

header {
  display: none;
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background: #6e00ff;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #ff64eb;
}

.scroll {
  margin-top: 2em;
  width: 30px;
}

section {
  padding: 4em 0em 4em 2em;
}

section div {
  padding-right: 2em;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffc9f8;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ee;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #6e00ff;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  padding-left: auto;
  padding-right: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 50px;
}

.skills-container ul li .icon-container.two {
  padding-left: 2em;
  width: 140px;
}

.skills-container ul li .icon-container.three {
  padding-left: 2em;
  width: 90px;
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.About_container {
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffc9f8;
}

.About_container .image_about_container {
  padding-bottom: 2.5em;
}

.About_container .image_about_container img {
  height: 15em;
  width: 15em;
}

.About_container .container_about_title {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ee;
  letter-spacing: 0.7em;
  font-size: 1em;
}

.About_container .container_about_subtitle {
  color: #3b3b3b;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 500;
}

@media only screen and (min-width: 800px) {
  .About_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 3em;
  }
  .About_container .container_about_text {
    width: 40em;
    padding-top: 6em;
    padding-left: 3em;
  }
  .About_container .image_about_container img {
    height: 20em;
    width: 20em;
  }
  .hamburger-container {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em;
  }
  header .logo {
    color: #8cd6f9;
    font-weight: bold;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul a {
    display: block;
    padding: 0 1em;
  }
  .featured {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
  }
  .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 0em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -8em;
    padding-top: 8em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (31.33%)[3];
        grid-template-columns: repeat(3, 31.33%);
    grid-gap: 1em;
    margin-bottom: -7em;
  }
}

@media only screen and (min-width: 1050px) {
  .About_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5em;
  }
  .About_container .container_about_text {
    width: 40em;
    padding-top: 6em;
    padding-left: 3em;
  }
  .About_container .container_about_title {
    font-size: large;
  }
  .About_container .image_about_container img {
    height: 20em;
    width: 20em;
  }
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #6e00ee;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em 0em 4em 4e m;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #6e00ff;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 5%;
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .About_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 10em;
    padding-top: 7em;
  }
  .About_container .container_about_text {
    width: 40em;
    padding-right: 10em;
    padding-top: 4em;
    padding-left: 6em;
  }
  .About_container .container_about_title {
    font-size: larger;
  }
  .About_container .container_about_subtitle {
    font-size: larger;
  }
  .skills-container ul li .icon-container.one {
    padding-left: 5.3em;
  }
  .skills-container ul li .icon-container.two {
    padding-left: 3em;
  }
  .skills-container ul li .icon-container.three {
    padding-left: 4em;
  }
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 0em 4em 10em;
  }
  section div {
    padding-right: 2em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  .About_container {
    height: 40em;
    padding-top: 10em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 12em;
  }
  .About_container .container_about_text {
    width: 40em;
    padding-right: 10em;
    padding-top: 4em;
    padding-left: 4em;
  }
  .About_container .container_about_title {
    font-size: x-large;
  }
  .About_container .container_about_subtitle {
    font-size: x-large;
  }
  .About_container .image_about_container img {
    height: 25em;
    width: 25em;
  }
  .skills-container ul li .icon-container.one {
    padding-left: 6.3em;
  }
  .skills-container ul li .icon-container.two {
    padding-left: 4em;
  }
  .skills-container ul li .icon-container.three {
    padding-left: 5em;
  }
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    font-size: larger;
    padding: 20em 0em 4em 10em;
  }
  section div {
    font-size: larger;
    padding-right: 4em;
  }
  .hero .content {
    padding: 6em 8em 6em 20em;
  }
}

#id {
  height: 100%;
  width: 100%;
  background-color: #6e00ee;
  position: fixed;
  z-index: 10000;
}

.text-center {
  text-align: center;
}

.ctn-preloader {
  -webkit-transition: 1.5s all linear;
  transition: 1.5s all linear;
  background-color: #6e00ff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.ctn-preloader .animation-preloader {
  z-index: 1000;
}

.ctn-preloader .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Poppins", sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: -3px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.ctn-preloader
.animation-preloader
.txt-loading
.letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.ctn-preloader.dark .animation-preloader .spinner {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading {
  color: rgba(255, 255, 255, 0.2);
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading:before {
  color: #fff;
}

.ctn-preloader p {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #3b3b3b;
}

.ctn-preloader .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 1;
  pointer-events: none;
}

.ctn-preloader .loader .row {
  height: 100%;
}

.ctn-preloader .loader .loader-section {
  padding: 0px;
}

.ctn-preloader .loader .loader-section .bg {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  width: 100%;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.ctn-preloader .loader.dark_bg .loader-section .bg {
  background: #111339;
}

.ctn-preloader.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.ctn-preloader.loaded .loader-section .bg {
  width: 0;
  -webkit-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
/*# sourceMappingURL=main.css.map */